extends ../page_layout.pug

block title
    title Ga-UI CHECK BOX

block contents
    .page-wrapper
        section#checkbox
            .section-title
                h1 Check Box
            .section-contents
                h4.contents-title 기본
                .ga-card.attached
                    .contents-wrapper
                        .ga-checkbox
                            input(type="checkbox")
                            label Label
                        .ga-checkbox.checked
                            input(type="checkbox", checked)
                            label Checked Label
                        .ga-checkbox.radio
                            input(type="radio")
                            label Radio Button
                        .ga-checkbox.radio.checked
                            input(type="radio", checked)
                            label Radio Button
                    .footer
                        - var code = '<div class="ga-checkbox {checked}">\n    <input type="checkbox" />\n    <label>Larbel Text</label>\n</div>'
                        - var code1 = '// use checkbox\nuseWrapper(pram)); // pram(default: document) is wrapper selector'
                            pre
                                code.language-markup
                                    | #{code}
                                    | #{code1}
                h4.contents-title Check Box
                .ga-card.attached
                    .contents-wrapper
                        .ga-checkbox
                            input(type="checkbox")
                            label 
                            
                    .footer
                        - var code = '<div class="ga-checkbox {checked}">\n    <input type="checkbox" />\n    <label>Larbel Text</label>\n</div>'
                            pre
                                code.language-markup
                                    | #{code}
                h4.contents-title Check Box
                .ga-card.attached
                    .contents-wrapper.check1
                        .ga-checkbox
                            input(type="checkbox", name="part")
                            label Front-End
                        .ga-checkbox
                            input(type="checkbox", name="part")
                            label Back-End
                        .ga-checkbox
                            input(type="checkbox", name="part")
                            label Design
                    .footer
                        - var code = '<div class="ga-checkbox {checked}">\n    <input type="checkbox" />\n    <label>Larbel Text</label>\n</div>'
                            pre
                                code.language-markup
                                    | #{code}
                h4.contents-title Radio
                .ga-card.attached
                    .contents-wrapper
                        .ga-checkbox.radio
                            input(type="radio", name="option")
                            label option 1
                        .ga-checkbox.radio
                            input(type="radio", name="option")
                            label option 2
                        .ga-checkbox.radio
                            input(type="radio", name="option")
                            label option 3
                    .footer
                        - var code = '<div class="ga-checkbox radio {checked}">\n    <input type="checkbox" />\n    <label>Larbel Text</label>\n</div>'
                            pre
                                code.language-markup
                                    | #{code}
block module 
    script(src="../js/checkbox.js")
    script(type="text/javascript").
        useCheckBox();