.ui-list
    .menu-header 
        a(href=`${path}`).bold Frog UI
    .ga-list
        li.nav-item.item
            a(href=`${path}/pages/base.html`) Base
        li.nav-item.item
            a(href=`${path}/pages/colors.html`) Colors
    .ga-list
        li.nav-item.item
            a(href=`${path}/pages/button.html`) Button
        li.nav-item.item
            a(href=`${path}/pages/input.html`) Input
        li.nav-item.item
            a(href=`${path}/pages/tag.html`) Tag
        li.nav-item.item
            a(href=`${path}/pages/checkbox.html`) CheckBox
        li.nav-item.item
            a(href=`${path}/pages/switch.html`) Switch
        li.nav-item.item
            a(href=`${path}/pages/badge.html`) Badge
        li.nav-item.item
            a(href=`${path}/pages/form.html`) Form
        li.nav-item.item
            a(href=`${path}/pages/list.html`) List
        li.nav-item.item
            a(href=`${path}/pages/selectbox.html`) SelectBox
        li.nav-item.item
            a(href=`${path}/pages/message.html`) Message
        li.nav-item.item
            a(href=`${path}/pages/tabs.html`) Tabs 
        li.nav-item.item
            a(href=`${path}/pages/cards.html`) Cards
        li.nav-item.item
            a(href=`${path}/pages/table.html`) Table
        li.nav-item.item
            a(href=`${path}/pages/pagination.html`) Pagination
        li.nav-item.item
            a(href=`${path}/pages/panel.html`) Panel
        li.nav-item.item
            a(href=`${path}/pages/grid.html`) Grid 
        li.nav-item.item
            a(href=`${path}/pages/grid2.html`) Grid2
        li.nav-item.item
            a(href=`${path}/pages/calendar.html`) Calendar
        li.nav-item.item
            a(href=`${path}/pages/modal.html`) Modal
        li.nav-item.item
            a(href=`${path}/pages/toast.html`) Toast
